@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shire styles */
.display-flex{
    display: flex;
}
.text-primary{
    color: #ff900E;

}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
main{
   max-width: 1440px; 
   margin: 0 auto;
}
main >section{
    margin-top: 130px;
}
/* dark 02 */
.text-grey{
    color:#424242;
}
/* dark 03 */
.text-light-grey{
    color: #727272;
}
.bg-light{
    background-color: rgba(255,144,14,0.1);
}
/* header styles */


/* navbar style */
.navbar{
   justify-content: space-between;
   align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
  
}
.brand{
    font-weight: 700;
    font-size: 2.1rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;

}
.navbar ,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight:700 ;
    font-size: 3rem;
}
.btn-primary{
    background-color: #ff900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;

}
.banner-img{
    width: 100%;
}

/* tem and feture related */
.team-img-container{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;
   
   
}
.teams{
    text-align: center;
}
.our-feature{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list {
font-weight: 500;
}
/* feture section */
.fetures{
    gap: 100px;
}
#feature-section-title{
    border-left: 5px solid goldenrod;
    padding-left:20px ;
}
.feture-card{
    padding: 30px;
    box-shadow: 0 40px 30px #f6faed ;
    margin-bottom: 20px;
    border-radius: 8px;
   
}
.feture-title,.feture-card{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;

 

}
#experience{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
/* some facts related */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.fact-card{
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(249, 187, 100);
}
.fact-num{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top:6px ;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;

}
/* spomnsors rerlated styles */

.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;

}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    filter: grayscale(100%);
}
/* responsove media query */
@media screen and (max-width:576px) {
    .navbar , .nav-links{
        flex-direction: column;
    }
    .teams{
        flex-direction: column;
    }
    .team-img-container,
    .facts-container,
    .sponsors-companies

    {
        grid-template-columns: repeat(1,1fr);
    }
    .our-feature{
        margin-left: 10px;
      
    }
    .facts-container{
        justify-content: center;
        margin-left: 15%;
        gap: 24px;
    }
     .sponsors-companies{
        gap: 30px;
        justify-items: center;
     }
    
}

/* meduain size divace */
/* @media screen and (min-width:576px) and (min-width:992px) {
   .teams{
    flex-direction: column;
   }
    .our-feature{
        margin-left: 50px auto;
    }
} */